body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f1ee;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(255, 255, 0, 0.427), rgb(135, 135, 214));
}
.header {
  background-color: #3b2f2f; 
  color: #fff;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 1px;
  padding: 1.5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.product-card {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin: 3rem auto;
  max-width: 1000px;
  /* padding: 20px 30px; */
  padding: 10px 30px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  border-radius: 12px;
  overflow: hidden;
}
.product-card img {
  border-radius: 2em;
  width: 28rem;
  object-fit: cover;
  position: relative;
  left: 35em;
}
.product-info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  right: 13em;
}
.product-info h2 {
  font-size: 1.5rem;
  color: #4e342e;
  position: relative;
  right: 11em;
  bottom: 1em;
}
.product-info p {
  font-size: 1.7em;
  color: #555;
  margin-bottom: 1rem;
  position: relative;
  right: 10em;
  font-size: 1m;
  bottom: 2em;
}
.product-info h6  {
  position: relative;
  right: 6em;
  bottom: 2.2em;
  font-size: 2.5em;
  font-weight: bold;
  color: #795548;
}
.buttom-submit {
  padding: 0.8rem 1.2rem;
  background-color: #002ead;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  border: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
  position: relative;
  bottom: 2em;
  right: 14em;
  width: 25em;
}
.buttom-submit:hover {
  background-color: #031a5c;
}
.card{
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin: 3em auto;
  max-width: 65em;
  padding: 20px 30px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  border-radius: 12px;
  overflow: hidden;
}
.card img{
  width: 25em;
  border-radius: 15px;
  position: relative;
  left: 40em;
  object-fit: cover;
}
.card-info{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  right: 13em;
}
.card-info h1{
  position: relative;
  right: 7em;
  bottom: 1em;
}
.card-info p{
  position: relative;
  right: 12em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1.2em;
  bottom: 3em;
  line-height: 2.8;
}
.card-new{
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin: 3rem auto;
  max-width: 65em;
  padding: 10px 30px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  border-radius: 12px;
  overflow: hidden;
}
.card-new img{
  width: 28.5%;
  object-fit: cover;
  /* right: 70em; */
  position: relative;
  border-radius: 10px;
  left: 48em;
}
.title-brew{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  right: 13em;
}
.title-brew h2{
  position: relative;
  right: 5em;
  bottom: 1.5em;
  font-size: 1.5rem;
  color: #4e342e;
  margin-bottom: 0.5rem;
}
.title-brew p{
  position: relative;
  right: 5em;
  bottom: 2em;
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 1rem;
}
.price-tag{
   font-weight: bold;
  font-size: 20em;
  color: #795548;
}
.btn-order{
  padding: 0.8rem 1.2rem;
  background-color: #002ead;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  border: none;
  color: #fff;
  font-size: 2em;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
  width: 25em;
  position: relative;
  right: 4.9  em;
}
.btn-order:hover{
  background-color: #031a5c;
}
.main-brew{
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin: 3rem auto;
  max-width: 75em;
  padding: 20px 30px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  border-radius: 12px;
  /* width: ; */
  overflow: hidden;
}
.main-brew img{
  width: 65%;
  border-radius: 15px;
  position: relative;
  left: 41.2em;
  object-fit: cover;
}
.title{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  right: 13em;
}
.title h1{
  position: relative;
  right: 11.5em;
  bottom: 1em;
}
.title p{
  position: relative;
  bottom: 50em;
  right: 16em;
  /* top: 0em; */
  bottom: 3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1.5em;
  font-weight: lighter;
  line-height: 2.8;
}
#body-of-page{
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f1ee;
  margin: 0;
  padding: 0;
  overflow: scroll;
  background-image: linear-gradient(rgba(255, 255, 0, 0.427), rgb(135, 135, 214));
}
.Page-header{ 
  background-color: #3b2f2f; 
  color: #fff;  
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 1px;
  padding: 1.5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.coffee-card{
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin: 3rem auto;
  max-width: 1000px;
  /* padding: 20px 30px; */
  padding: 10px 30px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  border-radius: 12px;
  overflow: hidden;
}
.coffee-card img{
  /* height: 23rem; */
  width: 45%;
  object-fit: cover;
  right: 50em;
  position: relative;
  border-radius: 10px;
  left: 35em;
}
.coffee-title{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  right: 13em;
}
.coffee-title h2{
  font-size: 1.5rem;
  color: #4e342e;
  margin-bottom: 0.5rem;
  position: relative;
  right: 10em;
  bottom: 1em;
}
.coffee-title p{
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 1rem;
  position: relative;
  right: 10em;
  bottom: 1.5em;
}
.coffee-title h4{
  position: relative;
  right: 5em;
  bottom: 1em;
  font-weight: bold;
  font-size: 3em;
  color: #795548;
}
.cart-btn{
  padding: 0.8rem 1.2rem;
  background-color: #002ead;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  border: none;
  color: #fff;
  font-size: 2em;
  border-radius: 6px;
  cursor: pointer;
  width: 25em;
  font-size: 20px;
  transition: background-color 0.3s ease;
  position: relative;
  right: 14em;
  bottom: 0.5 em;
}
.cart-btn:hover{
  background-color: #031a5c;
}
.Product-description{
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin: 3rem auto;
  max-width: 75em;
  padding: 20px 30px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  border-radius: 12px;
  /* width: ; */
  overflow: hidden;
}
.Product-description img{
  width: 32%;
  /* height: 3em; */
  border-radius: 15px;
  position: relative;
  left: 51em;
  object-fit: cover;
}
.Product-title{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  right: 13em;
}
.Product-title h1{
  position: relative;
  right: 6em;
  bottom: 1em;
  font-family: serif;
}
.Product-title p{
  position: relative;
  right: 9em;
  bottom: 18em;
  /* top: 0em; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1.5em;
  bottom: 3em;
  line-height: 2.8;
}
#body{
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f1ee;
  margin: 0;
  padding: 0;
  overflow: scroll;
  background-image: linear-gradient(rgba(255, 255, 0, 0.427), rgb(135, 135, 214));
}
.cafe-header{
  background-color: #3b2f2f; 
  color: #fff;  
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 1px;
  padding: 1.5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.main-brew-content{
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin: 3rem auto;
  max-width: 1000px;
  /* padding: 20px 30px; */
  padding: 10px 30px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  border-radius: 12px;
  overflow: hidden;
}
.main-brew-content img{
  width: 28%;
  height: 80%;
  object-fit: cover;
  right: 50em;
  position: relative;
  left: 46em;
  border-radius: 10px;
}
.cafe-wrapper{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  right: 13em;
}
.cafe-wrapper h2 {
  font-size: 1.5rem;
  color: #4e342e;
  position: relative;
  right: 5em;
  bottom: 1em;
}
.instant-coffee-price {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 1rem;
  position: relative;
  right: 5em;
  bottom: 2em;
}
.price-coffee {
  font-weight: bold;
  font-size: 3em;
  color: #795548;
  position: relative;
  right: 2em;
  bottom: 1em;
}
.buy-button {
  padding: 0.8rem 1.2rem;
  background-color: #002ead;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  border: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
  position: relative;
  right: 5em;
  width: 25em;
}

.buy-button:hover {
  background-color: #031a5c;
}
.card-title{
  display: flex;
  flex-direction: row;
  background-color: #fff;
  margin: 3rem auto;
  max-width: 70em;
  padding: 20px 30px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  border-radius: 12px;
  overflow: hidden;
}
.card-title img {
  width: 35%;
  /* height: 60%; */
  border-radius: 15px;
  position: relative;
  left: 47em;
  object-fit: cover;
}
.product-description {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  right: 13em;
}
.product-description h1 {
  position: relative;
  right: 6em;
  bottom: 1em;
}
.product-description p {
  position: relative;
  right: 8em;
  bottom: 2em;
  font-family: Georgia, 'Tximes New Roman', Times, serif;
  font-style: italic;
  font-size: 1.5em;
  line-height: 2.9;
}
